.main-container{
    max-width: 60vw;
    max-height: 60vw;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
}

.signup-page, .login-page{
    transition:all 0.5s ease;
}


.login-hide{
    opacity: 0;
    transform: translateX(-200%);
}

.signup-hide{
    opacity: 0;
    transform: translateX(100%);
}

/*SMALL SCREEN SIZES*/

@media (max-width: 768px) { 
    .main-container{
        min-width: 90vw;
        min-height: 90vh;
        overflow: scroll;
        display: grid;
    }
    .signup-page{
        transform: translateY(-100%);
    }
    .signup-hide{
        transform: translateX(100%);
    }
    .middleIcon{
        display: none;
    }
}

/* Medium Screen */
@media (max-width: 900px) {
    .login-page, .signup-page{
        max-width: 25vw;
    }

   
    .middleIcon{
        max-width: 20%;
        max-height: 20%;
    }

    .main-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}