.main-container{
    max-width: 60vw;
    max-height: 60vw;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
}

.signup-page, .login-page{
    transition:all 0.5s ease;
}

.login-page{
    opacity: 1;
    transform: translateX(50%);
}

.signup-page{
    opacity: 1;
    transform: translateX(-50%);
}

.login-hide{
    opacity: 0;
    transform: translateX(-100%);
}

.signup-hide{
    opacity: 0;
    transform: translateX(100%);
}


/*SMALL SCREEN SIZES*/

@media (max-width: 768px) { 
    .main-container{
        display: flex;
        justify-content: center;
        flex-direction: row;
        min-width: 90vw;
        min-height: 90vh;
    }
    .login-page{
        transform: translateX(10%);
    }
    .signup-page{
        transform: translateX(-100%);
    }
}

/* Medium Screen */
@media (max-width: 900px) {
    

    .main-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .login-page{
        transform: translateX(10%);
    }
}